<form class="form">
    <h1 class="title">Welcome Back!</h1>
    <div class="form-floating">
        <input id="InputEmail" type="text" class="form-control form-inputs" placeholder="Ingrese su email" >
        <label for="InputEmail" class="mt-1">Email</label>
    </div>
    <div class="form-floating">
        <input id="InputPassword" type="password" class="form-control form-inputs " placeholder="Ingrese Constraseña" >
        <label for="InputPassword" class="mt-1">Contraseña</label>
    </div>
    <button mat-button class="buttonForm text-white text-uppercase fs-5">login</button>
</form>
