<div class="container-fluid d-flex flex-column justify-content-center flex-lg-row justify-content-lg-evenly .align-items-lg-center h-100">
    <div class="d-none d-lg-flex justify-content-lg-center border-end border-4 col-lg-7">
        <img src="../../../assets/images/Veterinary-rafiki.png" alt="Foto veterinaria animada" class="img-fluid pic">
    </div>
    <div class="col-lg-5 d-lg-flex justify-content-lg-center align-items-lg-center">
        <app-login-form></app-login-form>
    </div>
</div>
