.form{
    min-height: 530px;
    max-height: 730px;
}
.forgotPass{
    color: #f08125e6;
}
.cursor, 
.forgotPass{
    cursor: pointer;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color:#252F48;
}

@media (min-width: 992px) {
    .form{
        min-height: 625px;
    }
  }